.discrdBtn {
	border-radius: 4px;
	border: 2px solid #151515;
	padding: 0;
	text-decoration: none;
	color: #008bfc;
	transition: .9s;
	width: 250px;
	height: 50px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #0a0a0a;
}

.discrdBtn:hover {
    border-radius: 14px;
    background-color: #32427d;
    font-size: 20px;
    color: #ffffff;
}

.githbBtn {
	border-radius: 4px;
	border: 2px solid #151515;
	padding: 0;
	text-decoration: none;
	color: #008bfc;
	transition: .9s;
	width: 250px;
	height: 50px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #0a0a0a;
}

.githbBtn:hover {
    border-radius: 14px;
    background-color: #484747;
    font-size: 20px;
    color: #ffffff;
}

.vkBtn {
	border-radius: 4px;
	border: 2px solid #151515;
	padding: 0;
	text-decoration: none;
	color: #008bfc;
	transition: .9s;
	width: 250px;
	height: 50px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #0a0a0a;	
}

.vkBtn:hover {
	border-radius: 14px;
    background-color: #005afc;
    font-size: 20px;
    color: #ffffff;
}

img {
    transition: .9s;
    border-radius: 50%;
    border: 3px solid transparent;
    background-image: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    background-size: 200%;
    animation: glitch_border 8s ease-in-out infinite;
}

img:hover {
	transition: .9s;
    border-radius: 10%;
    background-image: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    background-size: 300% 300%;
    animation: glitch_border 8s ease-in-out infinite;
}

.glitch {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.glitch_text_animated {
    background: linear-gradient(to right, #a7bb00, #0062bd , #009a0d, #8d0099, #b90000, #0700ba);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    color: transparent;
    animation: glitch_animation 8s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes glitch_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@keyframes glitch_border {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.siteSign {
	transition: .9s;
	font-size: 35px;
	opacity: 0.2;
	color: black;
}

.siteSign:hover {
	transition: .3s;
	opacity: 0.9;
}

.titles {
	transition: .9s;
	text-align: center;
	font-size: 25px;
	color: white;
	font-weight: bold;
}
